.video-player-container {
    /* position: relative; */
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .video-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(207, 199, 199, 0.5);
    padding: 5px;
    display: flex;
    justify-content: center;
  }
  
  .video-controls button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    margin: 0 5px;
  }
  
  .video-controls button:focus {
    outline: none;
  }
  