.card-no {
  font-size: 100px;
  display: flex;
  justify-content: center;
  text-align: center;

  align-self: stretch;
  max-width: 126px;
  width: 50px;
}

.card-btn-container {
  align-items: center;
  display: flex;
  background-color: transparent;
  border: none;
}

.no-span {
  font-weight: 900;
  height: 133px;
  color: rgb(255, 255, 255);
  transition: opacity 0.3s cubic-bezier(0.2, 0.45, 0, 1) 0.1s,
    left 0.3s cubic-bezier(0.2, 0.45, 0, 1),
    right 0.3s cubic-bezier(0.2, 0.45, 0, 1);
}

.no-span-img {
  height: 133px;
  background-color: linear-gradient(90deg, #fff 50.52%, hsla(0, 0%, 100%, 0));
}

.top10-card-img {
  width: 267.4px;
  height: 150.41px;
  aspect-ratio: 16/9;
  border-radius: 10px;
}

.card-no-img {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}

.top10-carousel {
  position: relative;
  /* overflow-x: scroll;
    overflow-y: hidden;
    gap: 10px;
   
    padding: 0 65px;
    transition: transform 0.5s ease;
    z-index: 10px; */
  top: -83px;
}

.carousel-height {
  position: absolute;
  top: 40%;
  width: 30%;
  height: 40%;
  background-color: transparent;
  z-index: 1;
  padding-left: 20px;
}

.carousel-play-btn {
  color: black;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  border: none;
}

.prime-btn-UA {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.watchlist-icon-img {
  font-size: 30px;
  border-radius: 50%;
  padding: 10px;
}

.top-10-video-container {
  position: relative;
  width: 100%;
  height: 38%;
  background-color: black;
  z-index: 0;
}

.carousel.carousel-slider {
  overflow: inherit;
}

.carousel .slider-wrapper {
  overflow: inherit;
}

.carousel-img-height {
  background-color: transparent;
  z-index: 1;
  padding-left: 20px;
}
.banner-img-blue-tick {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.banner-imgs-text-container {
  gap: 10px;
  display: flex;
  position: absolute;
  top: 46%;
  left: 14%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.top10-banner-img-blue-tick {
  left: 10%;
  top: 68%;
  position: absolute;
}

@media (max-width: 415px) {
  .card-no {
    font-size: 72px;
  }

  .card-no-img {
    padding-top: 72px;
  }
}
