.buttons-recent-addition-container {
  margin: 0 44px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.addToWatchlist-btn {
  background: #fff;
  border-radius: 8px;
  color: #00050d;
  min-height: 60px;
  padding: 8px;
  margin-right: 8px;

  align-items: center;
  border: none;
  cursor: pointer;
  display: inline-flex;
  font-family: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif !important;
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
  line-height: 22px;
  transition-duration: 0.2s;

  transition-property: transform, background-color, color, outline,
    -webkit-transform;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
  width: fit-content;
  will-change: transform;
}
