.content-dropdown {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 40px;
  /* padding: 0px 44px 36px; */
  padding: 100px 44px 36px;
}

.showlistBtn,
.showCheckbox {
  background-color: #33373d;
  border: none;
  border-radius: 5px;
  /* color: white; */
  padding: 0px 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.showCheckbox {
  justify-content: flex-start;
  background-color: #33373d;
  font-size: 20px;
}

.showlistBtnCheckbox:hover {
  background-color: white;
}

.showCheckbox:hover {
  background-color: white !important;
  color: #33373d !important;
}

.showlistBtn:hover {
  background-color: white;
  color: black;
  padding: 0px 44px;
  height: 44px;
}

.contnt-type-text {
  font-size: 18px;
  letter-spacing: 1px;
}
.checkCountSpan {
  color: black;
  font-size: 18px;
  background: white;
  padding: 0px 4px;
  margin: 0 0 0 8px;
  border-radius: 5px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.checkboxText {
  font-size: 20px;
  color: white;
}

.checkboxText:hover {
  color: #33373d !important;
}

.showList-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 65px;
  gap: 10px;
}
