.subscription-cards-container {
  padding: 70px 20px;
  background: linear-gradient(
    90deg,
    rgba(0, 5, 13, 0.8) 19.65%,
    rgba(0, 5, 13, 0) 49.93%
  );
}
.subscription-card {
  height: 300px;

  height: auto;
  background-position: 50%;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.subscription-carousel-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: relative;
}

.subsription-text {
  background: linear-gradient(
    90deg,
    rgba(0, 5, 13, 0.8) 19.65%,
    rgba(0, 5, 13, 0) 49.93%
  );
}

.carousel-main-subs {
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 10px;
  /* margin: 0 28px; */
  padding: 30px;
  transition: transform 0.5s ease;
  display: flex;
}

.carousel-main-subs::-webkit-scrollbar {
  overflow: hidden;
}

.subscription-prime-benefits-img {
  height: 150px;
  width: 267px;
  border-radius: 8px;
}

.slick-track {
  height: 380px;
}

.subscription-btn {
  position: absolute;
  top: 50%;
  left: 5%;
}
.subscription-more-details-btn {
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 8px 18px;
  border: none;
  height: 60px;
  font-size: 18px;
  cursor: pointer;
}

.subscription-more-details-btn:hover {
  transform: scale(1.05);
}

.subsc-banner-txt-img {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  grid-column: 1/12;
  justify-content: center;
}

@media (max-width: 415px) {
  .subscription-prime-benefits-img {
    height: 132px;
    width: 237px;
    border-radius: 8px;
  }
  .carousel-main-subs {
    padding: 0 30px;
  }

  .subscription-carousel .ant-carousel .slick-slider {
    height: 220px;
  }
  .subscription-cards-container {
    padding: 10px 20px;
  }
  .subscription-more-details-btn {
    display: none;
  }
  .slick-track {
    height: 300px;
  }
  .subscription-card {
    height: 150px;
  }
}
