.moods-main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal-container .ant-modal-footer {
  display: none;
}

.modal-main-div {
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  height: 100vh;
  /* background-image: url("/public/Designer.png"); */
  background-repeat: no-repeat;
  /* background-position: center; */
  object-fit: contain;
  /* padding-left: 50%; */
}
/* .ant-btn-primary {
  position: absolute;
  display: flex;
  color: #fff;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
  align-items: center;
  justify-content: center;
} */

.modal-main-div > .ant-btn-primary {
  position: absolute;
  display: flex;
  color: #fff;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 20px;
  background: rgb(113 113 119);
}

.modal-main-div > .ant-btn-primary:hover {
  background-color: black !important;
}
