.listItem{
    width: 225px;
    height: 120px;
    background-color: rgb(13, 13, 13);
    margin-right: 5px;
    overflow: hidden;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    z-index: 10;
    position: relative;
}
.listItem:hover{
    width: 300px;
    height: 310px;
    -webkit-box-shadow: -1px -1px 16px 6px rgba(66,59,66,1);
    -moz-box-shadow: -1px -1px 16px 6px rgba(66,59,66,1);
    box-shadow: -1px -1px 16px 6px rgba(66,59,66,1);
    position: absolute;
    /* bottom: -100px; */
    top: -10px;
    z-index: 20;
    /* position: absolute; */
    transform: scale(1.05) !important;
}

.banner-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

video{
    width: 100%;
    height: 140px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.listItem:hover .banner-img{
    height: 140px; 
    border-radius:10px 10px 0 0 !important;
}


.blue-tick-text{
    display: flex;
    align-items: center;
    gap: 5px;
}
.blue-tick-img{
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 0 4px 0 0 ;
}

.home-plus-watchlist-btn{
    font-size: 20px;
}

.watchlist-btn{
    /* color: #2e2a2a; */
    /* background-color:#2e2a2a ; */
    border-radius: 50%;
    background-color: hsla(0,0%,100%,.2);
    border: none;
    height: 60px;
    width: 60px;
    color: white;
    margin-left: 5px;
}
.watchlist-btn:hover{
    background-color: white;
    color: black;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
.watchlist-details-container{
    display: flex;
    /* gap: 5px; */
    align-items: center;
}

.play-btn-link {
    display: flex;
    align-items: center;
    gap: 12px;
}

.play-btn-text,
.watchlist-details-container,
.continue-watching-title,
.continue-watching-description,
/* .continue-watching-text-description, */
.blue-tick-text
 {
    display: none;
}

.continue-watching-container:hover .play-btn-text,
.continue-watching-container:hover .watchlist-details-container,
.continue-watching-container:hover .continue-watching-title,
.continue-watching-container:hover .continue-watching-description,
/* .continue-watching-container:hover .continue-watching-text-description, */
.continue-watching-container:hover .blue-tick-text
{
    display: flex;
    transition: 0.3sec ease-in-out;
}

/* .slider-continue-watching-pic {
    position: relative;
  border-radius: 10px;
} */



.slider-continue-watching-pic:hover .UA-num{
    background-color: #aaa;
    padding: 0.2em;
    border-radius: 5px;
    gap: 20px;
    display: flex;
}
.continue-watching-title, h4, h3{
    padding: 0;
    margin: 0;
    color: white;
    align-items: center;
}
.continue-watching-year-UA{
display: flex;
gap:20px;
flex-direction: row;
color: white;
}


.UA-num{
background-color: #aaa;
padding: 0.2em;
border-radius: 5px;
gap: 20px;
display: none;
color: white;

}
.continue-watching-description h4{
color: #878383;
} 

.continue-watching-description h4{
    color: #878383;
}




