.mobile-navbar-header-container {
  position: relative;
  justify-content: space-between;
  height: 48px;
  align-items: stretch;
  background: #00050d;
  display: flex;
  position: sticky;
  transition: box-shadow 0.3s cubic-bezier(0.2, 0.45, 0, 1);
  z-index: 190;
  align-items: center;
}
.mobile-navbar-container {
  z-index: 100;
  top: 0;
  position: sticky;
  padding: 5px;
  background-color: #00050d;
}
.mob-avatar-header {
  display: flex;
  justify-content: space-between;
}

.categories-submenu-label {
  color: #aaa;
}

.categories-submenu-label:hover {
  color: white;
}

.mobile-tv-movie-home {
  gap: 24px;
  display: flex;
  color: white;
  justify-content: flex-start;
  padding: 0 24px;
}
.ant-dropdown-submenu-popup {
  left: 100% !important;
  top: 0 !important;
}
