.sub-menu {
  display: none;
  position: absolute;
  /* top: 100%; */
  top: 42px;
  /* left: 0; */
  list-style-type: none;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 11.3%;
  /* border-radius: 8px; */
}

.sub-menu.active {
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  border-radius: 20px;
}

.sub-menu ul {
  list-style-type: none;
  /* background-color: #aaa; */
  background-color: #191e25;
  border-radius: 20px;
}
.sub-menu li {
  /* letter-spacing: 0.2em; */
  /* width: 24%; */
  width: 100%;
}
.sub-menu li:hover {
  background-color: white !important;
  /* color: black;
  width: 100%;
  z-index: 4;
  width: 100%; */
  /* width: 24%; */
}
.sub-menu li a {
  font-size: 14px;
  padding: 8px 8px;
  display: block;
  text-decoration: none;
  /* color: #aaa; */
  color: white;
}
.sub-menu li:hover a {
  color: black;
}
/* .home-list {
  padding: 0 20px;
} */

.dropdown-menu-items {
  padding: 0px;
  /* background-color: #333539; */
  background-color: #191e25;
  color: #aaa !important;
  border: none;
  border-radius: 0px;
  padding: 0;
  margin: 0;
}

.dropdown-menu-items:hover {
  background-color: white !important;
  color: black !important;
}

.ant-typography {
  color: #aaa !important;
  background-color: transparent;
}

.ant-typography:hover {
  /* color: white !important; */

  /* background-color: #333539; */
  /* background-color: #191e25; */
}
.optoins-login-headings:hover {
  background-color: transparent !important;
  /* color: white !important; */
  cursor: default;
}
.categories-link-text {
  border-radius: 8px;
}

.avatar-options {
  padding: 5px;
}

/* .ant-dropdown-menu-item:hover {
  color: black !important;
  background-color: white !important;
} */
