.footer-links a {
  color: #79bbf3 !important;
}

.footer-li a {
  color: #8197a4;
  font-size: 18px;
  padding: 4px;
  list-style: none;
  text-decoration: none;
}

.footer-container {
  bottom: 0px;
  display: flex;
  text-align: center;
  margin: 0 auto;
  /* width: 100%; */
  flex-direction: column;
  /* -webkit-font-smoothing: antialiased;
    background-color:"white";
    bottom: 0;
    color: #8197a4;
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    margin: 0 auto;
    padding: 24px;
    position: absolute;
    text-align: center;
    width: 100%; */
}

.footer-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

@media screen and (max-width: 415px) {
  .emptypadding {
    display: none;
  }

  .footer-ul {
    flex-direction: column;
  }

  .footer-li a {
    font-size: 15px;
  }

  .showDetails-headings {
    font-size: 18px;
    margin: 0px;
  }

  .dummy-txt {
    font-size: 15px;
  }

  .cast-list {
    gap: 6px;
    font-size: 12px;
  }
  .footer-ul {
    padding: 0;
  }
  /* .footer-container {
    top: 150%;
    position: absolute;
    padding: 24px;
  } */
}

@media (max-width: 375px) {
  /* .footer-container {
    position: absolute;
    top: 190%;
  } */
  .showDetails-headings {
    font-size: 18px;
  }
  .dummy-txt {
    font-size: 15px;
  }
  .cast-list {
    gap: 6px;
    font-size: 12px;
  }
  .footer-ul {
    padding: 0;
  }
}

@media (max-width: 390px) {
  /* .footer-container {
    top: 155%;
    position: absolute;
  } */
  .showDetails-headings {
    font-size: 18px;
  }
  .dummy-txt {
    font-size: 15px;
  }
  .cast-list {
    gap: 6px;
    font-size: 12px;
  }
  .footer-ul {
    padding: 0;
  }
}
